<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мир книг</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header>
        <div class="glavdiv">
            <ul class="ul">
                <li class="glav", style="float: left;"><h2>Мир книг</h2></li>
                <li class="glav", style="float: right;"><p>{{ username }}</p></li>
                <li class="glav", style="float: right; padding-left: 5px; padding-right: 5px;"><a href="/register"><p>Регистрация</a></p></li>
                <li class="glav", style="float: right; padding-left: 15px; padding-right: 15px;"><a href="/logout"><p>Выход</a></p></li>
                <li class="glav", style="float: right; padding-left: 15px; padding-right: 15px;"><a href="/login"><p>Вход</a></p></li>
                <li class="glav", style="float: right; padding-left: 15px; padding-right: 15px;"><a href="/str"><p>Наши книги</a></p></li>
            </ul>
        </div>
    </header>
    
    <main>
        {% block main %}{% endblock %}
    </main>
     
    <footer>
        &copy; Пахомова Валерия, ФБИ-11, 3 курс, 2023
    </footer>
</body>
</html>